version: "3.7"

services:
  mysql:
    image: mysql:8.0.39
    container_name: mysql_container
    environment:
      MYSQL_ROOT_PASSWORD: 4817Riccardo*
      MYSQL_DATABASE: backendapp
      MYSQL_USER: riccardo
      MYSQL_PASSWORD: 4817Riccardo*
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend_network

volumes:
  mysql_data:

networks:
  backend_network:
