version: "3.7"

services:
  mysql:
    image: mysql:8.0.39
    environment:
      MYSQL_ROOT_PASSWORD: 4817Riccardo*
      MYSQL_DATABASE: backendapp
      MYSQL_USER: riccardo
      MYSQL_PASSWORD: 4817Riccardo*
